$maxMobile: (max-width: 767px);
$minSmall: (min-width: 768px);
$maxSmall: (max-width: 991px);
$minMedium: (min-width: 992px);
$minLarge: (min-width: 1200px);

$mainColor: #ade1c5;
$secoundary-color:#e7a8c6;
$greyColor: #45505e;
$main-padding: 50px;
$main-transition: ease-in-out .3s;